/* Empty. Add your own CSS if you like */

.addTaskIcon {
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.sub-header {
    text-align: center;
}


/* List Color */

.listRed .item-content {
    background-color: #dc3545;
    color: white;
}

.listBlue .item-content {
    background-color: #007bff;
    color: white;
}

.listGreen .item-content {
    background-color: #28a745;
    color: white;
}

.listGray .item-content {
    background-color: #6c757d;
    color: white;
}

.listWhite {
    background-color: white;
    color: black;
}

.task-done {
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.backIcon {
    font-size: 30px;
    cursor: pointer;
}

.bar .title {
    margin: 0 50px;
}